
@{
    ViewData["Title"] = "Repuesto";
}

<a class="nav-link text-dark" asp-area="" asp-controller="Repuesto" asp-action="Agregar">Agregar Repuesto</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Repuesto" asp-action="Entregar">Entregar Repuesto</a>